$backgroundColor:#0367d1;
$Color:#da1414a4;
$fontColor:#000;


header{
  h2{
  background-color: $backgroundColor;
  margin-top: 0;
  top: 0;
  line-height: 40px;
  align-items: center;
  padding: 2px 0 2px 10px;
  color: $fontColor;
  }
}

.container{
}

footer{
  display: flex;
  line-height:0px;
  justify-content: center;
}