$backgroundColor:#ffffff;
$submitColor:#716eff;

.section{
text-align: center;
  input{
    border:0.5px solid #fff;
    border-bottom:0.5px solid $submitColor;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
    height: 25px;
  }
  .button{
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    height: 45px;
    color: $backgroundColor;
    background-color: #02005f;
    border:1px solid #fff;
  }  
  .button:hover{
    background-color: #094bff;
  }
}
