$backgroundColor:#d6d7d8;
$submitColor:#716eff;

.section{
  input{
    border:0.5px solid #fff;
    border-bottom:0.5px solid $submitColor;
    width: 50%;
    margin: 10px;
    height: 25px;
  }
  .button{
    cursor: pointer;
    border-radius: 10px;
    width: 5%;
    height: 20%;
    background-color: #716eff;
  }  
}
